.logo {
  display: none;
}

.navbar {
  justify-content: center;
  min-height: 7vh;
  background-color: rgb(191 183 183);
}

.navbar ul {
  padding: 0px;
}

.navbar ul li {
  list-style: none;
  padding: 10px;
}

.photo img {
  width: 15rem;
  border: white solid 5px;
  border-radius: 20em;
}

.content h1 {
  font-size: 3em;
}

.content h2 {
  font-size: 2em;
  font-family: 'Comfortaa', cursive;
}

.content h3 {
  font-size: 1em;
  font-family: 'Comfortaa', cursive;
}

.content p {
  margin-top: 1em;
  font-size: 1em;
  font-family: 'Baloo Bhai 2', cursive;
}

.fields {
  padding: 10px;
  margin: 10px;
  font-size: 1em;
}

strong {
  font-size: 1.2em;
}
